/*WP BLOCK*/
*[data-title] {
	position: relative;
	outline: 1px dashed transparent;
	padding: 18px 15px;
	overflow: visible !important;
}

/*COLUMN BLOCK*/
.wp-block-column {
	padding: 18px 8px;
}

/*RICH TEXT BLOCK*/
.wp-block.rich-text {
	padding: 10px 13px;
}

/*UL BLOCK*/
ul.wp-block:not(.block-list-appender),
ol.wp-block:not(.block-list-appender) {
	list-style-position: inside;
}

/*SEPARATOR*/
hr.wp-block-separator {
	opacity: 1;
}

/*IMAGE BLOCK*/
figure.wp-block-image.wp-block {
	padding: 0;
	line-height: 0;
}
	/*IMAGE CAPTION*/
	figure.wp-block-image.wp-block figcaption {
		line-height: 1.8em;
	}
	
/*SOCIAL BUTTONS*/
.wp-block.wp-block-social-link {
	padding: 0;
}

/*BUTTON BLOCK*/
.wp-block.wp-block-button {
	padding: 0;
}

/*SPACER BLOCK*/
.wp-block.wp-block-spacer {
	padding: 0;
}
.wayfinder-spacer-outline .wp-block-spacer:not(.block-list-appender) {
	outline: 1px dashed rgba(0,0,0,.15);
}


/*HOVER + FOCUS + SELECTED*/
.wayfinder-outline *[data-title]:hover,
.wayfinder-outline *[data-title]:focus,
.wayfinder-outline *[data-title].is-selected,
.wayfinder-outline *[data-title].has-child-selected {
	outline: 1px dashed var(--wp-admin-theme-color);
}

/*SELECTED HOVER*/
.wayfinder-outline *[data-title].is-selected:hover. {
	outline: 1px solid var(--wp-admin-theme-color);
}

/*BLOCK TITLE*/
.wayfinder-title *[data-title]:hover:before {
	content: attr(data-title);
	position: absolute;
	bottom: 100%;
	left: -1px;
	right: auto;
	top: auto;
	font-size: 10px;
	background: var(--wp-admin-theme-color);
	color: #fff;
	padding: 3px 5px;
	cursor: pointer;
	line-height: 10px;
	display: inline-block;
	width: auto;
	height: auto;
	transform: unset;
	font-weight: normal;
	text-transform: none;
	min-height: 10px;
	opacity: 1;
}

/*BLOCK CLASSES*/
.wayfinder-classes *[data-title]:hover:after {	
	content: attr(class);
	position: absolute;
	top: 100%;
	right: -1px;
	font-size: 10px;
	background: var(--wp-admin-theme-color);
	color: #fff;
	padding: 3px 5px;
	cursor: pointer;
	line-height: 10px;
	display: inline-block;
	width: auto;
	height: 16px;
	transform: unset;
	font-weight: normal;
	text-transform: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	left: auto;
	max-width: 100%;
	word-spacing: 5px;
	min-height: 10px;
	opacity: 1;
}